* {
  background: #E5E5E5;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}

.logo-alura {
  margin-left: 10px;
  padding-top: 10px;
  width: 2%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text-area {
  border: none;
  color: #0A3871;
  margin-top: 90px;
  text-transform: lowercase;
  resize: none;
  outline: none;
  display: block;
}

::placeholder {
  color: #0A3871
}

.text-area:focus {
  outline: none;
}

section .mensagem {
  background: white;
  background-image: url(./imagens/boneco.png);
  background-repeat: no-repeat;
  border: none;
  border-radius: 24px;
  color: #0A3871;
  margin-left: 90px;
  margin-top: -20px;
  padding: 20px;
  position: fixed;
  resize: none;
  outline: none;
  display: block;
}

.mensagem:focus {
  outline: none;
}

.botoes {
  display: block;
  margin-top: 18px;
}

.btn-encriptar {
  border: solid 1px #0A3871;
  background-color: #0A3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  width: 328px;
  margin-top: 42px;
}

.btn-desencriptar {
  border: solid 1px #0A3871;
  background-color: #D8DFE8;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 67px;
  width: 328px;
  margin-left: 30px;
  margin-top: 42px;
}

.btn-copiar {
  border: solid 1px #0A3871;
  border-radius: 24px;
  color: #0A3871;
  cursor: pointer;
  height: 67px;
  margin-top: 402px;
  margin-left: 112px;
  width: 336px;
  position: absolute;
  display: block;
}

.informacao {
  font-size: 18px;
  color: #495057;
}

.rodape p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  color: #0A3871;
  background-color: transparent;
  line-height: 50%;

}

.icones {
  display: flex;
  flex-direction: row;
  justify-content: center;
}